*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body{
   height: 100%;
   width: 100%;
}

#main{
     height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    display: flex;
}

#left{
    height: 100%;
    width: 25%;
    background-color: #6d6363;
}


#right{
    flex: 1;
    padding: 20px;
    background: #f5f5f5;
}

#icons{
    height: 15%;
    /* background-color:royalblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#image{
    height: 50px;
    width: 50px;
    border-radius: 20px;
}

#image img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

#icons #title{
    margin-left: 10px;
}

#icons h3{
    font-weight: 300;

}

#icons p{
    font-size: 13px;
}

#links{
    height: 85%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    

}

#links ul{
    list-style: none;
}

#links li{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    border-radius: 8px;
}

#links li.active{
    color: royalblue;
}

#links i{
   color: #eae8e8;
   font-size: 18px;
}

#links a{
    text-decoration: none;
    color: #ffffff;
    pointer-events: none; /* IMPORTANT */
}


#links li.active{
  background: #0d6efd;
  color: #fff;
}

#links li.active i{
  color: #fff;
}

